@font-face {
    font-family: CursedTimer;
    src: url("CursedTimer.ttf")
}

body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    font-family: 'CursedTimer';
    color: #9AABD8;
    background: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 10px 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    margin-left: 5px;
    width: 45px;
    height: 45px;
}
.add1-btn {
    margin-left: 0px;
}

#home-score, #guest-score {
    font-family: "CursedTimer";
    width: 155px;
    height: 120px;
    background-color: black;
    border-radius: 4.6px;
    text-align: center;
    color: #F94F6D;
    font-size: 6.25rem;
    margin: 21px 0;
    font-style: normal;
    font-weight: 400;
    line-height: 141%;
}

.team {
    text-align: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 90%;
    color: #EEEEEE;
    margin: 70px 0px 20px 0px;
}

#newgame-btn {
    display: block;
    margin: 25px auto;
    text-align: center;
    width: 150px;
    font-size: 18px;
}
